{% extends 'base.html' %}
<!--Don't forget your import here-->
{% block title %}Add A New Cafe{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Add a new cafe into the database</h1>

      <div class="mt-5 mb-5">
        <form action="{{url_for('add_cafe')}}", method="post", novalidate>
        {% from 'bootstrap5/form.html' import render_form %} {{
        render_form(form) }}
      </div>
    </form>

      <p class="space-above">
        <a class="btn btn-warning" href="{{url_for('cafes')}}">See all</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
